<div>
  <div class="pages">
    <span class="page-counts">{{ getMin() }} throungh {{ getMax() }} of {{ count }} orders</span>
    <span class="page-total"> / Total Pages {{ totalPages()}}</span>
  </div>
  <div class = "btn-paginated" *ngIf="count > 0">
    <button (click)="onPrev()">Previous</button>

    <button class="per-page"
      *ngFor="let pageNum of getPages()"
        (click)="onPage(pageNum)"
        [ngClass] = "{'active': pageNum === page, 'disabled': loading}">
        {{ pageNum }}
      </button>

    <button (click)="onNext()"
    [disabled]="isLastPage() || loading"
    [ngClass]="{ 'disabled': isLastPage() || loading }">Go Next</button>
  </div>
</div>


